---
import Layout from "../../layouts/DocsLayout.astro";
---

<Layout>
  <section slot="aside">
    This should be the navigation
    <h2>TDD Navigation</h2>
    <ul>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out">Home</a
        >
      </li>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out"
          >Section 1</a
        >
      </li>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out"
          >Ipsum</a
        >
      </li>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out"
          >consectectur</a
        >
      </li>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out">elit</a
        >
      </li>
      <li class="ml-4">
        <a href="" class="text-blue-500 hover:text-blue-900 ease-in-out"
          >Optio</a
        >
      </li>
    </ul>
  </section>
  <h1 class="text-2xl font-bold mb-4">Main content</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, unde ex.
    Hic ut sed nostrum, exercitationem quae dolorum necessitatibus neque at
    molestias officia porro, sit aperiam deserunt nam optio quidem.
  </p>
</Layout>
