---
import Link from "./Link";
---

<footer class="mt-16 lg:mt-24 text-sm text-gray-600 dark:text-slate-400">
  <p>
    Design inspired by <Link href="https://brittanychiang.com">
      Brittany Chiang
    </Link> and coded in <Link href="https://cursor.sh/" label="Cursor" /> by
    me. Built with <Link label="Astro" href="https://astro.build/" />
     and <Link href="https://tailwindcss.com/" label="Tailwind CSS" />, deployed
    with <Link href="" label="GitHub Pages" />.
  </p>
  <div class="block mt-12">
    <Link href="https://github.com/aidenberzins/aidenberzins.github.io">
      Want to see the code for this site? Check it out on GitHub.
    </Link>
  </div>
</footer>
