<section
  id="about"
  class="mb-16 space-y-4 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="About"
>
  <p>
    Hi, I'm <strong>Aiden</strong>.
    <span
      class="inline-block text-3xl motion-safe:hover:animate-wave motion-reduce:animate-none"
      >👋</span
    >
  </p>
  <p>
    I'm a <strong>software developer</strong>
     based in <strong>PA</strong>. I'm currently looking for a new opportunity
    as a <strong>Fullstack Developer</strong>.
  </p>
  <p>
    Tincidunt vitae semper quis lectus nulla at volutpat diam ut. Diam quis enim
    lobortis scelerisque fermentum dui faucibus. Sed lectus vestibulum mattis
    ullamcorper velit sed ullamcorper. Id diam vel quam elementum pulvinar etiam
    non quam. Euismod nisi porta lorem mollis aliquam ut. Diam maecenas sed enim
    ut sem viverra aliquet.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
    facilis temporibus assumenda eos odit mollitia accusantium atque,
    necessitatibus rerum explicabo officiis reiciendis delectus eveniet officia
    adipisci voluptatibus laboriosam iusto eius?
  </p>
</section>
