---
import Code from '../../components/Code.astro'
import Layout from '../../layouts/SnippetLayout.astro'
---

<Layout>
  <ul>
    <li>
      <Code language="ts">
        this.is.so.cool()
      </Code>
    </li>
  </ul>
</Layout>
