---
import Link from '../components/Link'
import Layout from './BaseLayout.astro'
---

<Layout>
  <header slot="header" class="mb-8">
    <Link href="/">
      <h1 class="text-2xl font-bold" transition:name="site-title">Aiden Berzins</h1>
    </Link>
  </header>
  <section class="grid grid-cols-[1fr_auto] grid-flow-col gap-x-8">
    <main id="content" class="max-w-[80ch] border border-yellow-600 w-100">
      <slot />
    </main>
    <aside class="border border-red-600 max-w-xs">
      <slot name="aside">
        <h2>Aside</h2>
        <p>This is some placeholder content</p>
        <p>It should scroll down the page as a psuedo navigation / table of content</p>
      </slot>
    </aside>
  </section>
</Layout>
