---
import Link from '../components/Link'
import Layout from './BaseLayout.astro'
---

<Layout>
  <header slot="header" class="mb-8">
    <Link href="/">
      <h1 class="text-xl font-bold tracking-tight text-gray-900 dark:text-slate-200 sm:text-3xl" transition:name="site-title">Aiden Berzins</h1>
    </Link>
  </header>
  <main id="content" class="w-100 max-w-[80ch]">
    <slot />
  </main>
</Layout>
